.day-column:hover {
    background-color: rgb(239, 237, 239) !important;
}

.border-secondary::after {
    color: rgb(23, 162, 184) !important;
}
.btn-primary::before{
    background-color: rgb(23, 162, 184) !important;

}
.btn-primary::after{
    background-color: rgb(23, 162, 184) !important;

}
.bg-info:hover{
    /* background-color:#fff !important; */
    color:rgb(23, 162, 184) !important;
}
.card{
   border:none !important; 
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
  }